<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Hello jade
		link(rel="stylesheet", href="./css/all.css")
	body
		// using uncompelete tag must use |
		//- this line won't convert to html comment
		br
		| Lorem ipsum dolor.a